extends templates/main.pug

block title
    .
        Preschool Coding Stuff


block head
    

block contentContainer

    .container
        .row
            .col
                h1 Preschool Coding "Stuff"
        .row
            .col
                h2 Online Activities
                ul
                    li
                        a(href="https://studio.code.org/sections/BLBMNW")
                            img.logo(src="https://code.org/images/logo.png" alt="")
                            | E10 Code.org's page
                    li 
                        a(href="hello.html") "Hello E10" program
                    li
                        a(href="colorPicker.html") Color picker
                    li
                        a(href="toBinary.html") Convert to binary
        
                h2 Board Games
                ul  
                    li
                        a(href="http://researchparent.com/wp-content/uploads/Coding_a_LEGO_Maze_ResearchParent.pd") Print out
                    li
                        a(href="(https://www.thinkfun.com/robot-turtles/") Robot Turtles
                        a(href="https://www.thinkfun.com/products/on-the-brink/") On the Brink

                h2 Other offline activities
                ul
                    li
                        a(href="https://www.atlasmission.com/blog/top-5-preschool-coding-activities-give-child-that-step-up/") Top 5 preschool coding activities
                    li
                        a(href="https://www.atlasmission.com/blog/6-preschool-coding-games-using-everyday-items/") 6 preschool coding games using everyday items

                h2 Dash
                p
                    a(href="https://www.makewonder.com/dash") Dash robot

                h2 Books
                ul
                    li
                        a(href="https://www.amazon.com/Grace-Hopper-Computer-People-Shaped/dp/1454920009/ref=sr_1_1") Grace Hopper: Queen of Computer Code
                    li
                        a(href="https://www.amazon.com/gp/bookseries/B073WJ9BN1/") Girls Who Code Series
block extraCode
    